build/
bin/
obj/
Debug/
release/
scripts/
artifacts/
.dotnet
TestResults/
.vs/
*.suo
*.user
*.exe
*.dll
*.pdb
*.nupkg
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
AppPackages/
*.bak
packages
*.orig
*.DotSettings
*.ide/
.nuget
project.lock.json
.vs
/Math expression eval/UnitTest/UnitTest.csproj.user
